@model SmarketModels.Proveedor

@{
    ViewBag.Title = "Eliminar proveedor?";
}

<h2>Confirmar eliminación</h2>

<h3>Estas seguro de eliminar este proveedor?</h3>
<fieldset>
    <legend>Proveedor "@Model.Nombre"</legend>

    <div class="display-label">NIT</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NIT)
    </div>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">Foto</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Foto)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input id="command" type="submit" value="Confirmar eliminación" /> |
        @Html.ActionLink("Volver a lista de proveedores", "Index")
    </p>
}
